torch
tuned_lens
torchvision
pandas
numpy 
matplotlib
seaborn
tqdm 
jaxtyping
scipy 
transformers
transformer_lens
accelerate
safetensors
ipykernel
huggingface
matplotlib
einops
requests
pytest
tqdm
ipykernel
notebook
datasets
ipywidgets==7.7.1
jupyterlab-widgets==1.1.1
jupyter
matplotlib
numpy-stl
mediapy
scikit-learn
ftfy
plotly
sympy
huggingface_hub
accelerate
pre-commit
diffusers
gdown
jaxtyping
tiktoken
typeguard
torchinfo
torchvision
frozendict
tabulate
safetensors
git+https://github.com/callummcdougall/eindex.git